<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/michal/IdeaProjects/selenium_tests1">

        <classes>

            <class name = "SeleniumTest"/>
            <class name = "SeleniumTest2"/>
            <class name = "SeleniumTest3"/>

        </classes>

    </test>
</suite>